@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --unit-100vh: 100vh;
}
@supports (height: 100dvh) {
  :root {
    --unit-100vh: 100dvh;
  }
}

body,
#root {
  height: var(--unit-100vh);
}
